# Godot 4+ specific ignores
.godot/
/android/

# IDE
.idea/

# Built binaries
addons/nodetunnel/bin/*.so
addons/nodetunnel/bin/*.dll
addons/nodetunnel/bin/*.dylib
addons/nodetunnel/bin/*.d
addons/nodetunnel/bin/*.rlib

# Rust build artifacts
**/target

# MacOS
**/.DS_Store
